.side__groups--list
  .side__groups--list-name
    "#####"
  .side__groups--list-message
    "#######"
.side__groups--list
  .side__groups--list-name
    "#####"
  .side__groups--list-message
    "#######"
